# Gradle
.gradle/
build/
local.properties
gradle-app.setting
.gradletasknamecache

# Wrapper jar (lo regeneramos en CI; si lo querés commitear, remové esta línea)
gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Output
*.apk
*.aab
*.dex

# Keystores (NO committear)
*.keystore
*.jks
release.keystore
